
.bd-masthead {
  position: relative;
  padding: 3rem 15px 2rem;
  color: white;
  text-align: center;
  background: url(/assets/images/clavier.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bd-masthead h1 {
  font-weight: 300;
  line-height: 1;
}

.bd-masthead .lead {
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  font-size: 1.25rem;
  color: #fff;
}

.bd-masthead .btn {
  width: 100%;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  font-weight: 500;
}

@media (min-width: 544px) {
  .bd-masthead {
    padding-top: 10rem;
    padding-bottom: 4rem;
  }

  .bd-masthead .btn {
    width: auto;
  }
}

@media (min-width: 768px) {
  .bd-masthead {
    padding-bottom: 6rem;
  }

  .bd-masthead h1 {
    font-size: 4rem;
  }

  .bd-masthead .lead {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .bd-masthead .lead {
    width: 85%;
    font-size: 2rem;
  }
}

.bd-featurette {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #eee;
}

.bd-featurette .highlight {
  text-align: left;
}

.bd-featurette .lead {
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  font-size: 1rem;
  text-align: center;
}

@media (min-width: 544px) {
  .bd-featurette {
    text-align: left;
  }
}

.bd-featurette-title {
  margin-bottom: .5rem;
  font-size: 2rem;
  font-weight: normal;
  color: #333;
  text-align: center;
}

.bd-featurette h4 {
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-weight: normal;
  color: #333;
}

@media (min-width: 768px) {
  .bd-featurette {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .bd-featurette-title {
    font-size: 2.5rem;
  }

  .bd-featurette-title + .lead {
    font-size: 1.5rem;
  }

  .bd-featurette .lead {
    max-width: 80%;
  }
}